<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/productCreate.css">

    <script src="https://kit.fontawesome.com/d160ea4c64.js" crossorigin="anonymous"></script>
    <title>Crear producto</title>
</head>

<body>
    <header>
        <%- include('../partials/navbar') %>
    </header>

    <main>
        <div class="new-event">

            <div>
                <h2>Nuevo evento</h2>
            </div>

            <div class="container">
                <div class="standar-img"> <img src="/img/img-predet.png" > </div>
                <form action="/product/product_create" method="POST">
                    <section class="info-show">

                        <div>
                            <input type="text" name="name" placeholder="Nombre del show" required>
                        </div>

                        <div>
                            <input type="date" name="date" placeholder="Fecha show" required>
                        </div>

                        <div>
                            <input type="time" name="time" placeholder="Hora del show" required>
                        </div>

                        <div>
                            <input type="number" name="tickets" placeholder="Cantidad de tickets" required>
                        </div>

                        <div>
                            <input type="text" name="price" placeholder="Precio del show" required>
                        </div>
                        
                      <!--  <div>
                            <input id="i-show-file" type="file" name="show-file" placeholder="Imagen del show" required>
                        </div> -->

                        <div class="button-send">
                            <button type="submit">Enviar</button>
                        </div>    

                        <div class="button-reset">
                            <button type="reset">Borrar campos</button>
                        </div>

                    </section>

                </form>

            </div>

        </div>

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>

</body>

</html>