<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/productCart.css">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>Product-cart</title>
</head>

<h1></h1>

<body>
    <header>  

        <%- include('../partials/navbar') %>
    
    </header>

    <main>
         <form method="get" action="/product/"></form>
        <div class="box">

            <h1 class="titulo-show">Tus TicketSelva son</h1>
            <div>
                <img src="/img/uploads/1656008293278_pdt_.jpg" class="imagen-show" ">
            </div>

            <div class="info-del-show">

                <h5>Precio $1500</h5>
                <h5>Fecha: Miercoles 25 de Mayo</h5>

                <div class="cantidad-de-entradas">
                    <h5 class="">Cantidad</h5>
                    <input class="cuadro-de-cantidad" type="number" name="qty" id="quantity_wanted" 
                        class="form-control" min="1" aria-label="Cantidad" style="display: block;" 
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </div>

                </div>
            
                    <div>
                        
                        <button class="add-to-cart" data-button-action="add-to-cart" type="submit">
                            <i class="bi bi-cash-coin"></i>
                            <i class="fa-solid fa-cart-shopping"></i><span> Finalizar compra</span>
                        </button>
                        
                        <form>
                             <button class="add-to-cart" data-button-action="add-to-cart" type="reset">
                            <i class="bi bi-cart4"></i>
                            <i class="fa-solid fa-cart-shopping"></i><span>Vaciarcarrito</span>
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>