<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/productCart.css">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <title>Product-cart</title>
</head>

<h1></h1>

<body>
    <header>  

        <%- include('../partials/navbar') %>
    
    </header>

    <main>

        <div class="border">

            <h1 class="titulo-show">Tus TicketSelva son:</h1>
            <div>
                <img src="/img/show3.jpg" class="imagen-show" alt="Imagen del Show correspondiente">
            </div>

            <div class="info-del-show">
                <h5>Precio $1500</h5>
                <h5>Fecha: Miercoles 25 de Mayo</h5>

                <div class="cantidad-de-entradas">
                    <h5 class="">Cantidad</h5>
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <input class="cuadro-de-cantidad" type="text" name="qty" id="quantity_wanted" value="1"
                        class="form-control" min="1" aria-label="Cantidad" style="display: block;">
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </div>
                <a href="/product/product_detail">
                    <h1 class="subtitulo">Entradas para mega matiné bailable</h1>
                </a>

            </div>

            <h1 class="titulo-show"></h1>
            <div>
                <img src="/img/show5.jpg" class="imagen-show" alt="Imagen del Show correspondiente">
            </div>
            <a href="/product/product_detail">
                <h1 class="subtitulo">Entradas para Feriadoland</h1>
            </a>

            <div class="info-del-show">
                <h5>Precio $3000</h5>
                <h5>Fecha: Viernes 32 de Junio</h5>

                <div class="cantidad-de-entradas">
                    <h5 class="">Cantidad</h5>
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <input class="cuadro-de-cantidad" type="text" name="qty" id="quantity_wanted" value="1"
                        class="form-control" min="1" aria-label="Cantidad" style="display: block;">
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </div>
                <h5>Para autorizar su ingreso: deberá mostrar el código que enviamos a su correo electronico.</h5>
            </div>

            <div class="caja-de-compra">
                <div class="border-caja-compra">
                    <p>Total de la compra $4500 ARS</p>
                    <div class="aniadir-al-carrito">
                        <div class="cantidad-de-entradas">
                            <h5 class="">Cantidad de tickets</h5>
                            <i class="fa-solid fa-circle-arrow-left"></i>
                            <input class="cuadro-de-cantidad" type="number" name="qty" id="quantity_wanted" value="1"
                                class="form-control" min="1" aria-label="Cantidad" style="display: block;">
                            <i class="fa-solid fa-circle-arrow-right"></i>
                        </div>
                    </div>
                    <div>
                        <button class="add-to-cart" data-button-action="add-to-cart" type="submit">
                            <i class="bi bi-cart4"></i>
                            <i class="fa-solid fa-cart-shopping"></i><span>Vaciarcarrito</span>
                        </button>
                        <button class="add-to-cart" data-button-action="add-to-cart" type="submit">
                            <i class="bi bi-cash-coin"></i>
                            <i class="fa-solid fa-cart-shopping"></i><span> Finalizar compra</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>