<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Inicio</title>
</head>
<!--esto es un comentario-->
<body>
    <header>
        <nav>
            <div class="container">
                <a href="/"><img src="img\logo-prop2.png" alt="logo" class="logo"></a>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="bi bi-list"></i>
            </label>
            <ul class="nav-menu">
                <li><a href="#">24 HS</a></li>
                <li><a href="#">7 DIAS</a></li>
                <li><a href="#">30 DIAS</a></li>
                <li><a href="#"><i class="bi bi-person-fill"></i> CUENTA</a></li>
            </ul>

        </nav>
        
        <div class="search-box">
            <input type="search" placeholder="Buscar...">
            <i class="bi bi-search"></i>
        </div>
    </header>


    <footer>
        ticket-selva
    </footer>
</body>

</html>