<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de producto</title>
</head>

<body>
    <header>
        <section>
            <img src="img/logo-tiketSelva" alt="Aqui va el logo">
            <input id="abrir-cerrar" name="abrir-cerrar" type="checkbox" value="" />
            <label for="abrir-cerrar" class="toggle-button">
                <span class="cerrar" title="Cerrar">Cerrar</span>
                <span class="abrir" title="Abrir">Abrir</span>
            </label>
        </section>
    </header>
</body>

</html>