* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

main{
    max-width: 550px;
    margin: 0 auto;
}

.border{
    
     
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.titulo-show{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 180%;
    padding-top: 5%;
}

.imagen-show {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    border: 5px double black;
   /* max-width: 400px;Duda? poner maximo ancho maximo para moviles? porque cuando se hace muy grande la resolucion, la imagen es muy grande */
}

.subtitulo{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
   /* background-color: #90A955; */
}

.disponibilidad{
    font-size: 10px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.check-correct{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
   /* background-color: #4F772D; */
   font-size: 13px;
}

.stock{
    font-size: 15px;
}

.info-del-show {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    
}

.info-del-show h5{
margin-bottom: 10px
}

.caja-de-compra{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: 1px;
   padding-bottom: 5%;
}

.border-caja-compra{
    border-style: dashed;
    border-color: #5D5D5D;
    padding-left: 4%;
    padding-right: 4%;
    background: transparent;
}

.caja-de-compra p {
    font-size: 28px;
    color: #009E09;
    font-weight: bold;
    margin-top: 15px;
}

.cantidad-de-entradas {
    margin-top: 15px;
    display: flex;
}

.cantidad-de-entradas h5 {
    margin-bottom: 7px;
    margin-top: 6px;
    font-size: 15px;
}

.cantidad-de-entradas i {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
}


.cuadro-de-cantidad{
    width: 17px;
    align-items: center;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.add-to-cart {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

.add-to-cart i {
    margin-right: 3px;
}


@media screen and (min-width: 768px) {
    
}
