@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-position: center;
}

.container {
    height: 33vh;
}

.logo {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 14px;

    max-width: 33vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

@media (min-width: 360px) {
    body {
        width: 90vw;
        max-width: 450px;
    }

    .logo{
        font-size: 25px;
    }
}