
*{
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans',
        sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
}

body{
    background: url(/img/selva1.webp);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    color: #132A13;
    font-size: 40px;
}


.modal-contenido {
    background-color: rgb(171, 169, 169);  
    opacity: 0.97;
    border: solid 1px black;
    border-radius: 5px;
    width: 200px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
}

.modal {
   position: fixed;
    top: 45;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#miModal:target {
    opacity: 1;
    pointer-events: auto;
}

.formulario{
background: #90A955 ;
opacity: 0.89;
margin-bottom: 15%;
margin-top: 25%;
margin-left: 5%;
margin-right: 5%;
border-radius: 5px;
padding: 3px;
text-align: center;
}

.formulario1 {
    background: #90A955;
    opacity: 0.89;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

p{
margin-top: 9px;
}

.contenedor{
    width: 100%;
    padding: 15px;
}

.input-contenedor{
margin-bottom: 10px;
border: 1px solid #132A13;
border-radius: 5px;
margin-left: 5%;
margin-right: 5%;
}

 .icon{
color: rgb(0, 0, 0);
 }


input[type="email"],
input[type="password"],
input[type="text"]{
    padding: 10px;
    background-color: #90A955;
    font-size: 15px;
    width: 93%;
    border: none;
}

::placeholder{
    color: #132A13;
}

 .error-msg {
    font-size: 12px;
    color: #FF452C;
    text-align: center;
}



.button {
   position: relative;
   width: 70px;  
   height: 40px;
   font-size: 10px;
   background-color: #747474;
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: width .5s, 
   border-radius .5s;
}

.button input{
    border: none;
    background-color: #747474;
}

.button *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
}

.icon1{
    opacity: 0;
}

.button:focus{
    width: 30px;
    background-color: #000000;
    border-radius: 50%;
}

.button:focus .button1{
    opacity: 0;
}

.button:focus .icon1{
    opacity: 1;
    transition-delay: .5s;
}

.link{
    text-decoration: none;
    color: #132A13;
    font-weight: 600;
}

.link:hover{
    color: cadetblue;
}

footer .footer1 {
    width: 90%;
    margin: 0 auto;
}

footer .footer-bottom1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 10px;
    height: 100px;
    align-items: center;
}

@media(min-width:768px){
    
    header{
        width: 100%;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    body{
      background: url(/img/bajada.jpg);
      background-size: cover;
      background-attachment: fixed;
    }

    .formulario{
        margin: auto;
        width: 600px;
        margin-top: 21%;
        margin-bottom: 21%;
    }

     .formulario1 {
            margin: auto;
            width: 600px;
            margin-top: 10%;
            margin-bottom: 20%;
     }
}

@media(min-width:1024px){
        
        input[type="email"],
        input[type="password"],
        input[type="text"]{  
            
            font-size: 18px;
         
        }

            p{
              font-size: 13px;
             }

        .formulario {
         margin: auto;
         width: 600px;
         margin-top: 10%;
         margin-bottom: 23%;
                         }
            
        .formulario1 {
         margin: auto;
         width: 600px;
         margin-top: 10%;
         margin-bottom: 15%;
                         }
}