<!DOCTYPE html>
<html lang="es">
<head>
    
    <link rel="stylesheet" href="/css/not-found.css">

    <%- include('./partials/head') %>

    <title>Error 404 | ticket-selva</title>
</head>

<body>

    <main>
        <div class="main">
            <div class="top">
                <a href="/"><h1>ticket-selva</h1></a>
            </div>
            <div class="card">
                <h1>Error 404</h1>
                <div class="para">
                    <p>Parece que esta página no existe.</p>
                    <p>Prueba con volver al Inicio</p>
                </div>
                <a href="/">
                    <button>INICIO</button>
                </a>
            </div>
        </div>
    </main>

</body>

</html>
