 <!--bottomfooter.ejs-->
      <div class="footer1">
        <div class="footer-bottom1">
          <div class="copyright">
            <p>
              Copyright © 2022 Ticket-selva | Todos los derechos reservados.
            </p>
          </div>
        </div>
      </div>
 <!--bottomfooter.ejs-->