<!--navbar.ejs-->
<nav>
    <div class="container">
        <a href="/"><img src="..\img\logo-prop2.png" alt="logo" class="logo"></a>
    </div>
    <input type="checkbox" id="check">
    <label for="check" class="bar-btn">
        <i class="bi bi-list"></i>
    </label>
    <ul class="nav-menu">
        <!--endpoints in english to avoid numbers-->
        <li><a href="/product/twenty-four">24 HS</a></li>
        <li><a href="/product/seven">7 DIAS</a></li>
        <li><a href="/product/thirty">30 DIAS</a></li>
        <li><a href="/user/login"><i class="bi bi-person-fill"></i> CUENTA</a></li>
    </ul>

</nav>
<!--navbar.ejs-->