<!--navSearch.ejs-->
<div class="search-cart">
    <div class="search-box">
        <input type="search" placeholder="Buscar...">
        <i class="bi bi-search"></i>
    </div>
    <div class="btn-cart">
        <a href="/product/product_cart">
            <button><i class="bi bi-cart-fill"></i></button>
        </a>
    </div>
</div>
<!--navSearch.ejs-->