<!--navSearch.ejs-->
<div class="search-cart">
    <div class="search-box">
        <form action="/product/search" method="get">
            <input type="search" name="search" placeholder="Buscar...">
            <button type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <div class="btn-cart">
        <a href="/product/product_cart">
            <button><i class="bi bi-cart-fill"></i></button>
        </a>
        
    </div>
    <div> 
        <a href="/user/profile">
            <button class="buttom-pro">
                <div>
                    <img src= /img/users/1663114129567_pdt_.jpg  class="profile-img" alt="Imagen del Show correspondiente">
                </div>
            </button>
        </a>
        
    </div>
</div>
<!--navSearch.ejs-->