main {
    width: 100%;
}

.new-event {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    max-width: 1024px;
    padding-top: 5%;
    padding-bottom: 7%;
    align-items: center;
    border: #132A13 double 3px;
    margin-bottom: 30px;
}

.new-event h2 {
    text-align: center;
    margin-bottom: 6%;
    font-size: 2em;
    color: #132A13;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.container form .info-show div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container form .info-show input {
    width: 80%;
    padding: 7px;
    margin: 5px;
    border-color: #132A13;
}

.container form .info-show label {
    font-size: 12px;
    padding-top: 7px;
    margin: 5px;
    border-color: #132A13;
}

.container form .info-show .error-msg {
    font-size: 12px;
    color: #FF452C;
    text-align: center;
}

.container form .info-show button {
    width: 80%;
    padding: 7px;
    margin: 10px;
    border-color: #132A13;

}

.container form .info-show .button-send button {
    background-color: #4F772D;
}

.standar-img {
    border: solid black;
    max-width: 350px;
    max-height: 350px;
}

.standar-img img {
    width: 100%;
    height: 100%;
}

.container form .info-show .button-reset button:hover {
    background-color: #ECF39E;
}

.is-invalid {
    color: red;
    background-color: lightcoral;
    border-color: red;
}

.is-valid {
    color: black;
    border-color: green;
}

.alert-warning {
    margin: 2%;
    background-color: crimson;
}